.image{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#pics{
    position: absolute;
    width: 500px;
    height: 300px;
    margin-top: 30px;
    border-radius: 10px;
    transition:  2.5s;
    border: 8px solid black;
}
#pics:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.full{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
#circle{
    position: relative;
    font-size: 120px;
    margin: 0%;
    color: rgb(197, 197, 197);
    transition: color 1s;
    top: 60vh;
}
.total{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@media (max-width:700px) {
   #pics{width: 250px;}
   #circle{top: 50vh; }
}
